<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Título</th>
      <th>Descripción</th>
      <th>Operaciones</th>
    </tr>
  </thead>

  <tbody>
    {{#each tasks}}
      <tr>
        <td> {{@index}} </td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
          {{#if done}}
            <button id="done-btn"><a href="/toggleDone/{{_id}}">Pendiente</a></button>
          {{else}}
            <button id="done-btn"><a href="/toggleDone/{{_id}}">Hecho</a></button>
          {{/if}}
            <button><a href="/edit/{{_id}}">Editar</a></button>
            <button><a href="/delete/{{_id}}">Eliminar</a></button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
